CREATE KEYSPACE {{ cassandra_keyspace }}
  WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 3 };

CREATE TABLE {{ cassandra_keyspace }}.{{ cassandra_table }} (
    m_id INT,
    tenant_id INT,
    day DATE,
    hour INT,
    project_name varchar,
    project_type varchar,
    lang varchar,
    page TEXT,
    size INT,
    req_count INT,
    last_read timestamp,
    last_upd timestamp,
    last_commit_message TEXT,    
    PRIMARY KEY(m_id, tenant_id)
);